/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.containerdiv {
  padding: 2rem 4rem;
}

.detail {
  width: 100%;
  border-bottom: 2px solid #fff;
}

.product {
  padding: 6rem 6rem;
}

.add_review {
  padding: 6rem 6rem;
}

.like {
  padding: 2rem 0;
}

.register a {
  text-decoration: none;
  color: #f6305f;
}

.register__deals {
  display: flex;
  justify-content: space-between;
}
.register__deals h1 {
  margin-right: 2rem;
  cursor: pointer;
}

.register__country {
  display: flex;
  cursor: pointer;
}

.register__country__image {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.register__bag {
  display: flex;
}
.register__bag__image {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  cursor: pointer;
}
.register__bag__cart {
  position: relative;
}
.register__bag__count {
  background: #f6305f;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 1.6;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: absolute;
  top: -10.5px;
  left: 1.7rem;
  text-align: center;
}

.card {
  margin-top: 3rem;
  position: relative;
  margin-bottom: 4rem;
}
.card__parent {
  flex: 1;
  background-color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 7rem 1rem;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: relative;
  backface-visibility: hidden;
}
.card__parent:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.card__image {
  width: 30rem;
  height: 30rem;
}
.card__text {
  margin-top: 1rem;
  font-size: 30px;
}
.card__button {
  margin-top: 2rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 50em;
  background-color: #f6305f;
  color: #fff;
  font-size: 16px;
}
.card__middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__middle__button {
  border: none;
  padding: 2rem 3rem;
  background-color: #f6305f;
  border-radius: 50em;
  color: #fff;
  margin-top: 5rem;
}
.card__middle:hover .card__middle__parent {
  opacity: 0.1;
}
.card__middle__image {
  width: 20px;
  height: 20px;
  fill: #f6305f;
}
.card__hover:hover {
  opacity: 0.1;
}
.card__hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card__parent:hover .card__middle {
  opacity: 1;
}
.card__dollar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__dollar__hover {
  opacity: 0.2;
}
.card__dollar__text {
  margin-bottom: 2rem;
  font-size: 30px;
}
.card__dollar__image {
  width: 30rem;
  height: 30rem;
  margin-top: 2rem;
}
.card__dollar__button {
  margin-top: 5rem;
  border: none;
  padding: 1rem 3rem;
  color: #f6305f;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}
.search__input {
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-family: inherit;
  padding: 1rem 3rem;
  width: 90%;
  transition: all 0.2s;
  margin-right: -2.5rem;
  margin-left: -2.5rem;
  transition: all 0.2s;
  background-color: #969696;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #969696;
  color: #fff;
}
.search__input::-webkit-input-placeholder {
  color: #eee;
  font-weight: 100;
}
.search__input--white {
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-family: inherit;
  padding: 1rem 3rem;
  width: 90%;
  margin-left: -2.5rem;
  transition: all 0.2s;
  background-color: #fff;
  color: #000;
}
.search__input--white:focus {
  outline: none;
  width: 100%;
  background-color: #969696;
  color: #fff;
}
.search__input--white::-webkit-input-placeholder {
  color: #000;
  font-weight: 100;
}
.search__input:focus + .search__button {
  background-color: #969696;
}
.search__button {
  border: none;
  background-color: #969696;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  position: relative;
  z-index: 1000;
  height: 12px;
  width: 12px;
  fill: #fff;
  margin-top: 0.5rem;
}
.search__icon--white {
  position: relative;
  z-index: 1000;
  height: 12px;
  width: 12px;
  fill: #000;
  margin-top: 0.5rem;
}

.detail {
  display: flex;
}
.detail__image {
  flex: 0 0 50%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.detail__description {
  flex: 1;
  padding: 2rem 2rem;
}
.detail__heading {
  display: flex;
  justify-content: space-between;
}
.detail__heading__text {
  font-size: 22px;
  color: #9c9c9c;
}
.detail__category__heading {
  font-size: 36px;
  font-weight: 700;
}
.detail__category__amount {
  font-size: 36px;
  color: #f6305f;
}
.detail__size-guid {
  display: flex;
  justify-content: space-between;
}
.detail__size-guid__first {
  color: #9c9c9c;
}
.detail__size-guid__second {
  color: #f6305f;
}
.detail__button-size {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.detail__button-size--item {
  margin-top: 1rem;
}
.detail__button-size__link:link,
.detail__button-size__link:visited {
  text-decoration: none;
  font-size: 20px;
  background-color: #fff;
  color: #9c9c9c;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.detail__button-size__link:link:hover,
.detail__button-size__link:visited:hover {
  background: #f6305f;
  color: #fff;
}
.detail__quantity {
  margin-top: 2rem;
}
.detail__quantity__text {
  font-size: 28px;
  color: #9c9c9c;
}
.detail__quantity__count {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
}
.detail__quantity__count__minus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9c9c9c;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  cursor: pointer;
}
.detail__quantity__count__link {
  text-decoration: none;
  font-size: 36px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2e2e2e;
  font-weight: 400;
}
.detail__quantity__count__link:hover {
  text-decoration: none;
  color: #fff;
}
.detail__quantity__count__one {
  padding: 0.5rem 2rem;
  border-radius: 50em;
  font-size: 16px;
  border: 1px solid #9c9c9c;
  cursor: pointer;
  color: #2e2e2e;
  font-weight: 700;
}
.detail__cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.detail__cart__heart {
  display: flex;
  align-items: center;
}
.detail__cart__heart__icon {
  width: 20px;
  height: 20px;
  fill: #f6305f;
  margin-right: 1rem;
}
.detail__cart__heart__text {
  color: #9c9c9c;
  font-weight: 400;
}
.detail__cart__button {
  margin-top: 2rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 50em;
  background-color: #f6305f;
  color: #fff;
  font-size: 16px;
  margin-top: 0 !important;
}

.product {
  border-bottom: 1px solid #fff;
  margin-bottom: 5rem;
}
.product__heading {
  font-size: 36px;
  color: #2e2e2e;
}
.product__detail {
  display: flex;
  margin-top: 2rem;
}
.product__detail__stars {
  flex: 0 0 30%;
}
.product__detail__stars__heading {
  margin-top: 1rem;
  font-size: 16px;
}
.product__detail__stars__span {
  font-size: 12px;
  font-weight: 400;
  color: #9c9c9c;
}
.product__detail__view {
  flex: 1;
}
.product__detail__view__paragrapgh {
  font-size: 36px;
  font-weight: 200;
}
.product__detail__view__communicate {
  margin-top: 2.5rem;
  display: flex;
}
.product__detail__view__communicate__heart {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}
.product__detail__view__communicate__heart__back {
  background-color: #9c9c9c;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
}
.product__detail__view__communicate__heart__icon {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
  fill: #f6305f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product__detail__view__communicate__heart__icon--black {
  fill: #2e2e2e;
}
.product__detail__view__communicate__heart__count {
  font-size: 26px;
  font-weight: 400;
  color: #9c9c9c;
}

.star {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.star__icon {
  width: 20px;
  height: 20px;
  fill: yellow;
  margin-right: 2px;
}
.star__icon--white {
  fill: white;
}

.add_review {
  border-bottom: 1px solid #9c9c9c;
}
.add_review__heading {
  font-size: 36px;
  color: #2e2e2e;
}
.add_review__input__form__nick {
  display: flex;
  align-items: center;
}
.add_review__input__form__nick__label {
  flex: 0 0 30%;
  font-size: 22px;
  color: #2e2e2e;
  font-weight: 700;
}
.add_review__input__form__nick__input {
  flex: 0 0 30%;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  height: 5rem;
}
.add_review__input__form__nick__input:focus {
  outline: none;
}
.add_review__input__form__your {
  display: flex;
  margin-top: 5rem;
}
.add_review__input__form__your__label {
  flex: 0 0 30%;
  font-size: 22px;
  color: #2e2e2e;
  font-weight: 700;
}
.add_review__input__form__your__container {
  flex: 0 0 80%;
}
.add_review__input__form__your__input {
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  height: 15rem;
  width: 70%;
}
.add_review__input__form__your__heading {
  display: flex;
  align-items: center;
}
.add_review__input__form__your__heading__gray {
  font-size: 16px;
  color: #9c9c9c;
}
.add_review__input__form__your__heading__primary {
  font-size: 16px;
  color: #f6305f;
}
.add_review__input__form__rating {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.add_review__input__form__rating__heading {
  flex: 0 0 30%;
  font-size: 22px;
  color: #2e2e2e;
  font-weight: 700;
}
.add_review__input__form__submit {
  margin-top: 2rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 50em;
  background-color: #f6305f;
  color: #fff;
  font-size: 16px;
  margin-left: 30%;
}

.card__heading {
  font-size: 36px;
  color: #2e2e2e;
}

.card__card {
  display: flex;
  overflow-x: scroll;
}

.card__parent {
  position: relative;
}
.card__parent__button {
  position: absolute;
  top: 5rem;
  left: 5rem;
  border: none;
  background-color: #f6305f;
  padding: 1rem 2.5rem;
  color: #fff;
  font-size: 26px;
}

.detail__star {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.star__icon {
  margin-right: 1rem;
}
